@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Zen+Loop&display=swap');
body {
    font-family: 'Roboto Mono';
    background-color: #bae8e8;
    background-position: center;
    width: 100vw;
    height:100vh;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin: 10px 0px 10px;
    color: #2c698d;
    background-color: #bae8e8;
}
canvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

button {
    display: block;
    background-color: #5090b4;
    color: white;
    font-family: 'Roboto Mono';
    margin-bottom: 5px;
    border: 0px;
    font-size: 20px;
}

button:hover{
    cursor: pointer;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #bae8e8;
}

#defaultCanvas0 {
    visibility: hidden;
}